@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poly&display=swap");

.header .top-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1vh 5% 1vh 10%;
  font-family: "Poly", serif;
  z-index: 4;
}

.header .top-header a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header .top-header a i {
  color: black;
  margin-right: 2ch;
}

.header .top-header a:hover,
.header .top-header a:hover i {
  color: rgb(0, 255, 21);
  transition: linear 1s ease;
}

.header .top-header .book-ride {
  text-decoration: none;
  color: rgb(236, 0, 0);
}

.header .top-header .book-ride i {
  color: black;
}

.header .top-header .book-ride:hover,
.header .top-header .book-ride:hover i {
  color: rgb(0, 255, 21);
  transition: linear 1s ease;
}

.header .options {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: black;
}

.header .top-header .options a i {
  color: rgb(202, 0, 0);
}

.header .options a {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7ch;
  position: relative;
  margin: 0px 10px;
  text-decoration: none;
  color: white;
  font-family: "Playfair";
}

.header .options a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: -2px;
  background: cyan;
}

.header .options a::after {
  transform: scale(0, 1);
  transform-origin: 100% 0%;
  transition: transform 0.3s ease;
}

.header .options a:hover {
  color: cyan;
}

.header .options a:hover::after {
  color: cyan;
  transform: scale(1, 1);
}

.header .toggle-menu {
  display: none;
}

.header .bottom-header {
  display: flex;
  padding: 3vh 5vw 2vh 10vw;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: "Playfair Display", serif;
  z-index: 2;
}

.header .bottom-header .logo {
  padding: 8px;
  background-color: white;
}

.header .bottom-header .logo i {
  border: rgb(209, 0, 0) 8px solid;
  color: white;
}

.header .bottom-header .logo:hover {
  background: linear-gradient(indigo, blue, green, yellow, orange, red);
  cursor: pointer;
  filter: brightness(130%);
  transition: 1s ease;
}

.header .bottom-header .logo:hover i {
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(-360deg);
  }
}

.header .bottom-header .options {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header .bottom-header .options .btn {
  margin: 0 2vw;
  text-decoration: none;
  color: white;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2ch;
  position: relative;
  font-family: "Poly", serif;
}

.header .bottom-header .options .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: -10px;
  background: rgb(204, 0, 0);
}

.header .bottom-header .options .btn-center::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.header .bottom-header .options .btn-center:hover::after {
  transform: scale(1, 1);
}

.header .bottom-header .options .dropdown {
  padding: 0 4ch;
  text-decoration: none;
  color: white;
  font-size: 2ch;
  font-weight: 500;
  cursor: pointer;
}

.header .bottom-header .options .dropdown i {
  color: rgb(212, 0, 0);
}

.header .bottom-header .dealership {
  padding: 8px 10px;
  background-color: rgb(218, 0, 0);
  border: none;
  font-size: 1.3vw;
  font-family: "Poly", serif;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 2px;
}

.header .bottom-header .dealership:hover {
  transition: 0.3s ease;
  border-radius: 10px;
}

.sub-menu {
  display: none;
  position: fixed;
  width: 93vw;
  height: 170px;
  padding: 0 3vw;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: rgb(243, 243, 243);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3;
}

.sub-menu .option {
  text-decoration: none;
  font-size: 2.5vw;
  font-family: "Poly", serif;
  color: gray;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.sub-menu .option::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: rgb(187, 0, 0);
}

.sub-menu .o-left::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.sub-menu .o-left:hover {
  color: black;
}

.sub-menu .o-left:hover::after {
  transform: scale(1, 1);
}

@media only screen and (max-width: 700px) {
  .header .top-header {
    display: block;
  }

  .header .top-header .support {
    display: block;
    margin-left: 3.4ch;
  }

  .header .top-header .book-ride {
    margin-left: 2ch;
    display: block;
  }

  .header .top-header .options {
    padding: 1ch 0;
  }

  .header .toggle-menu {
    display: block;
    background-color: black;
    padding: 0.5ch 0 0.5ch 3ch;
    border-top: 0.05vh solid white;
  }

  .header .toggle-menu i {
    display: block;
    color: white;
    cursor: pointer;
  }

  .header .bottom-header {
    display: none;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  .header .bottom-header .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
  }

  .header .bottom-header .logo i {
    font-size: 10px;
    border-width: 4px;
  }

  .header .bottom-header .options {
    flex-direction: column;
  }

  .header .bottom-header .options .btn,
  .dropdown {
    margin: 1ch 1ch;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .header .bottom-header .dealership {
    display: block;
    margin-top: 1ch;
    width: 50%;
    text-align: center;
    font-size: 10px;
  }

  .sub-menu {
    display: none;
    height: 50px;
  }
}
