.body {
  display: flex;
  justify-content: center;
  background-color: white;
}

.body .info {
  display: block;
  width: 40%;
  margin-left: 14%;
  text-align: left;
  padding: 0 1ch;
}

.body .info .headline {
  font-size: 6ch;
  font-family: "Playfair";
  display: block;
  max-width: 300px;
  text-align: left;
  margin-bottom: 1ch;
}

.body .info .description {
  font-size: 2ch;
  font-family: "Poly";
  display: block;
  text-align: left;
  max-width: 350px;
}

.body .info button {
  margin-top: 3ch;
  background-color: rgb(201, 0, 0);
  padding: 1ch 2ch;
  border: none;
  cursor: pointer;
}

.body .info button a {
  text-decoration: none;
  color: white;
  font-family: "Playfair";
  font-size: 2.8ch;
}

.body .info button:hover {
  background-color: black;
  transition: 1s ease;
}

.body .product {
  display: inline-block;
  width: 50%;
}

.body .product .images #circle {
  position: relative;
  width: 40vw;
  z-index: 0;
  left: -110px;
  top: -1vh;
}

.body .product .images #prod {
  position: absolute;
  top: 160px;
  right: 45vw;
  width: 50vw;
  z-index: 1;
}
