.body {
  display: flex;
  justify-content: center;
  background-color: white;
}

.body .info {
  display: block;
  width: 40%;
  margin: 30vh 0 0 14%;
  text-align: left;
  padding: 0 1ch;
}

.body .info .headline {
  font-size: 6ch;
  font-family: "Playfair";
  display: block;
  max-width: 300px;
  text-align: left;
  margin-bottom: 1ch;
}

.body .info .description {
  font-size: 2ch;
  font-family: "Poly";
  display: block;
  text-align: left;
  max-width: 350px;
}

.body .info button {
  margin-top: 3ch;
  padding: 1ch 2ch;
  border: none;
  cursor: pointer;
  background: linear-gradient(#bd1b28, #ff2717);
}

.body .info button a {
  text-decoration: none;
  color: white;
  font-family: "Playfair";
  font-size: 2.8ch;
}

.body .info button:hover {
  transition: 1s ease;
  background: linear-gradient(#817400, #700700, #001263);
}

.body .product {
  display: inline-block;
  width: 50%;
}

.body .product .images #circle {
  position: relative;
  width: 40vw;
  z-index: 0;
  left: -80px;
  top: 25vh;
}

.body .product .images #prod {
  position: absolute;
  top: 160px;
  right: 45vw;
  width: 50vw;
  z-index: 1;
}

@media only screen and (max-width: 700px) {
  .body {
    display: block;
    flex-direction: column;
    width: 100vw;
  }

  .body .product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .body .product .images #circle {
    display: none;
  }

  .body .product .images #prod {
    display: block;
    position: relative;
    width: 250px;
    left: 5%;
    top: 30px;
  }

  .body .info {
    display: block;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
